In [187]:
import pandas as pd
import numpy as np
print('Imported')

Imported

In [188]:
ESCO=pd.ExcelFile(r"C:\Users\mschm\Desktop\NCI Final Project\Orientation App\Data\Merged Jobs.xlsx")
jobs=pd.read_excel(ESCO, 'Merged Table')
print(jobs.head())

                                       occupationUri  \
0  http://data.europa.eu/esco/occupation/00030d09...
1  http://data.europa.eu/esco/occupation/00030d09...
2  http://data.europa.eu/esco/occupation/00030d09...
3  http://data.europa.eu/esco/occupation/00030d09...
4  http://data.europa.eu/esco/occupation/00030d09...

                                            skillUri  \
0  http://data.europa.eu/esco/skill/fed5b267-73fa...
1  http://data.europa.eu/esco/skill/05bc7677-5a64...
2  http://data.europa.eu/esco/skill/271a36a0-bc7a...
3  http://data.europa.eu/esco/skill/47ed1d37-971b...
4  http://data.europa.eu/esco/skill/591dd514-735b...

                            skills_en.preferredLabel  \
0                                 theatre techniques
1                                organise rehearsals
2  write risk assessment on performing arts produ...
3               coordinate with creative departments
4                 adapt to artists' creative demands

  occupations_en.preferredLabel
0            technical director
1            technical director
2            technical director
3            technical director
4            technical director

In [189]:
jobs['Occupation']=jobs['occupations_en.preferredLabel']
jobs['Skill']=jobs['skills_en.preferredLabel']
jobs=jobs[['Occupation','Skill']]
print(jobs.head())

           Occupation                                              Skill
0  technical director                                 theatre techniques
1  technical director                                organise rehearsals
2  technical director  write risk assessment on performing arts produ...
3  technical director               coordinate with creative departments
4  technical director                 adapt to artists' creative demands

In [190]:
print(jobs['Skill'].nunique())
print(jobs['Occupation'].nunique())

13492
3039

In [191]:
jobs.isna().sum()

Occupation    0
Skill         0
dtype: int64

In [192]:
jobs= jobs.groupby('Occupation')['Skill'].apply(lambda skill: ' '.join(skill)).reset_index()
print(jobs.head())
print(jobs.shape)

                           Occupation  \
0   artificial intelligence engineer
1                         3D animator
2                         3D modeller
3              3D printing technician
4               ATM repair technician

                                               Skill
0  digital data processing information structure ...
1  particle animation principles of animation 3D ...
2  3D texturing 3D lighting augmented reality com...
3  3D printing process printing on large scale ma...
4  mechanical tools security threats ATM systems ...
(3039, 2)

In [193]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 1. Create the vectorizer
vectorizer = TfidfVectorizer(max_features=13492) 

# 2. Fit and transform your data
X_tfidf = vectorizer.fit_transform(jobs['Skill'])

# 3. Check the result
print(X_tfidf.shape)  # Should be (3039, 13492) if you used max_features

(3039, 6452)

In [194]:
jobsvec=pd.DataFrame(X_tfidf).head()
print(jobsvec)

                                                   0
0    (0, 3037)\t0.05440176920154425\n  (0, 5180)\...
1    (0, 5332)\t0.08300315094942315\n  (0, 1818)\...
2    (0, 4058)\t0.05756249261029287\n  (0, 3)\t0....
3    (0, 4579)\t0.08291848376818328\n  (0, 1016)\...
4    (0, 3268)\t0.16459976190897171\n  (0, 5769)\...

In [ ]:
#PCA: Give me the fewest possible components that together explain 95% of the total variance in the data.

In [ ]:
#Investigate if PCA or not, seems to cause issues with component transformation.